<!DOCTYPE html>
<html>
  <head>
    <title>VidBits</title>
    <link rel="icon" type="image/ico" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="title-container">
      <div class="title-logo">
        <a href="/" title="VidBits">
          <img src="/img/logo.svg" alt="VidBits">
        </a>
      </div>
    </div>

    <h2>Log in</h2>
    <form method="post" action="/login" class="login-form">
      {{#if error}}
      <span>{{error}}</span>
      {{/if}}
      <input type="text" name="user" placeholder="User name"/>
      <input type="password" name="password" placeholder="Password"/>
      <button type="submit" id="log-in" class="input-button">Log in</button>
    </form>

    <div>
      <p>For the purpose of testing, login with one of the following accounts:</p>
        <b><i>&lt;username: password&gt;</i></b><br>
        root : rootpassword<br/>
        admin : password<br/>
        jp : jppassword<br/>
        cathy : cathypassword<br/>
        king : kingpassword<br/>
    </div>

  </body>
</html>
