<div>
    <h2>Save a video</h2>
</div>
<div>
  <form method="post" action="/videos">
    {{#if video.errors.title}}
    <span>{{video.errors.title.message}}</span>
    {{/if}}
    <input type="text" id="title-input" name="title" placeholder="Title"/>
    {{#if video.errors.videoUrl}}
    <span>{{video.errors.videoUrl.message}}</span>
    {{/if}}
    <input type="text" id="videoUrl-input" name="videoUrl" placeholder="Video URL" value="{{video.videoUrl}}"/>
    <textarea id="description-input" name="description" placeholder="Description">{{video.description}}</textarea>
    <button type="submit" id="submit-button" class="input-button">Save video</button>
  </form>
</div>
