<div>
    <h2>Save a video</h2>
</div>
<div>
  <form method="post" action="/videos">
    <input type="text" id="title-input" name="title" placeholder="Title"/>
    {{#if error}}
    <span>{{error}}</span>
    {{/if}}
    <input type="text" id="videoUrl-input" name="videoUrl" placeholder="Video URL"/>
    <textarea id="description-input" name="description" placeholder="Description"></textarea>
    <button type="submit" id="submit-button">Save video</button>
  </form>
</div>
