<div class="contents-container" id="videos-container">
  {{#each videos as |video|}}
  <div class="video-card">
    <div class="video-title">
      {{video.title}}
    </div>
    <iframe class="video-player" src="http://example.com" frameborder="0" allowfullscreen></iframe>
  </div>
  {{/each}}
</div>

<a href="/videos/create.html">
  <div class="add-video-button">
    <p>Add Video</p>
  </div>
</a>
